.article-miniature {
    width: 200px;
    height: auto;
    min-height: 200px;
    box-shadow: 4px 8px 4px -2px rgba(128, 128, 128, 0.19);
    border-radius: 0px;
    margin: 20px 30px;
    padding: 30px;
    float: left;
}

.cacher-article {
    display: none;
}